@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ReactJs and ASP.NET</h1>
    <p class="lead">This application is a hybrid web application of ASP.NET and ReactJs. Home page is built with ASP.NET, and Counter page is pure React based.
    This is useful when converting an existng ASP.NET web app to React based app, page by page. React, Node.js, and related JavaScript libs used in the project are detailed in the following sections.</p>
</div>

<div class="row">
    <div class="col-md-3">
        <h2>ReactJs</h2>
        <p>
            React is a great front-end library. This project is bootstrapped with Create React App from Facebook.
        </p>
        <p><a class="btn btn-default" href="https://reactjs.org">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-3">
        <h2>Redux and Saga</h2>
        <p>
            Redux is a predictable state container for JavaScript apps. Redux Saga is a middleware library used to
            allow a Redux store to interact with resources outside of itself asynchronously.
            This includes making HTTP requests to external services, accessing browser storage, and executing I/O operations. These operations are also known as side effects.
        </p>
        <p><a class="btn btn-default" href="https://react-redux.js.org/introduction/getting-started">Learn more Redux &raquo;</a></p>
        <p><a class="btn btn-default" href="https://redux-saga.js.org">Learn more Redux-Saga &raquo;</a></p>
    </div>
    <div class="col-md-3">
        <h2>TypeScript</h2>
        <p>TypeScript addes static type checking to React. Create React App supports boostrapping React app with TypeScript natively. </p>
        <p><a class="btn btn-default" href="https://www.typescriptlang.org/docs/handbook/jsx.html">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-3">
        <h2>Material-UI</h2>
        <p>Material-UI is a popular React UI framework.</p>
        <p><a class="btn btn-default" href="https://material-ui.com/">Learn more &raquo;</a></p>
    </div>
</div>